<h1>CSS Home</h1>

<div class="background-paragraph">
    <li>
        <ul>CSS is the language we use to style an HTML document.</ul>
        <ul>CSS describes how HTML elements should be displayed.</ul>
        <ul>This website will teach you CSS from basic to advanced.</ul>
    </li>
    <a class="button" href="#" routerLink="/">Start with CSS Introduction &#8594;</a>
</div>

<hr>

<h1>Examples in Each Chapter</h1>

<div class="paragraph">
    <li>
        <ul>This CSS Concepts website contains hundreds of CSS examples.</ul>
        <ul>With the provided online editor, we can edit the CSS, and click on a button to view the result.</ul>
    </li>
</div>

<div class="background-paragraph">
    <h2>CSS Example</h2>
    <pre class="code">
        <code>
            body {{ '{' }}
                background-color: lightblue;
            {{ '}' }}

            h1 {{ '{' }}
                color: white;
                text-align: center;
            {{ '}' }}

            p {{ '{' }}
                font-family: verdana;
                font-size: 20px;
            {{ '}' }}
        </code>
    </pre>
    <a class="button" href="#" routerLink="/">Try it in Online Editor &#8594;</a>
</div>

<div id="bold-text" class="paragraph">
    <p>Click on the "Try it in Online Editor" button to see how it works.</p>
</div>

<hr>

<h1>CSS Examples</h1>

<div class="paragraph">
    <p>We will learn from over 300 examples! With our online editor, we can edit the CSS, and click on a button to view the result.</p>
    <a class="button" href="#" routerLink="/">Go to CSS Examples &#8594;</a>
</div>