<header>
  <div>
    <a href="#" class="logo">CSS Concepts</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">CSS Home</a></li>
        <li><a href="#" routerLink="/">CSS Advanced</a></li>
        <li><a href="#" routerLink="/">CSS Responsive</a></li>
        <li><a href="#" routerLink="/">CSS Grid</a></li>
        <li><a href="#" routerLink="/">CSS Examples</a></li>
        <li><a href="#" routerLink="/online-editor" (click)="setFileName()">Online Editor</a></li>
      </ul>
    </nav>
  </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>