/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

$primary: #6f4a8e;
$secondary: #221f3b;
$dark: #050505;
$light: #ebebeb;

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}
